.hero {
  @include maxWidth();
  @include sectionSpacing();
  position: relative;

  @include response(xxl) {
    position: static;
    overflow: hidden;
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;

    @include response(xxl) {
      grid-template-columns: 1fr;
    }

    h1 {
      @include headingStyles();
      font-size: size(xl) + 2rem;

      @include response(md) {
        font-size: size(xl) + 1rem;
      }

      @include response(sm) {
        font-size: size(xl);
      }
    }
  }

  &-img {
    z-index: -1;
    position: absolute;
    top: 10%;
    left: 35%;

    @include response(xxl) {
      position: static;
    }

    @include response(xxl) {
      position: static;
      margin-top: 10rem;
    }
  }
}
