.team-hero {
  @include maxWidth();
  @include sectionSpacing();
  overflow: hidden;

  &-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;

    @include response(xl) {
      grid-template-columns: 1fr;
    }

    &-info {
      h1 {
        @include headingStyles();
        font-size: size(xl) + 2rem;
      }

      p {
        @include textStyles();
        font-size: size(md);
        color: color(pink);
      }
    }
  }
}
