.services-hero {
  @include sectionSpacing();
  @include maxWidth();
  overflow: hidden;

  &-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    @include response(xl) {
      grid-template-columns: 1fr;
    }

    &-info {
      h1 {
        @include headingStyles();
        font-size: size(xl) + 2rem;

        @include response(md) {
          font-size: size(xl) + 1rem;
        }

        @include response(sm) {
          font-size: size(xl);
        }
      }

      p {
        @include textStyles();
        font-size: size(lg);
      }

      small {
        @include textStyles();
        font-size: size(xs);
        color: color(pink);
      }
    }

    &-img {
      @include response(xl) {
        margin-top: 2rem;
      }
    }
  }
}
