.test {
  background-color: color(lightGray);

  &-content {
    @include maxWidth();
    @include sectionSpacing();

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;

    &-info {
      h2 {
        @include headingStyles();
        font-size: size(xl);
      }

      .underline {
        width: 35rem;
        height: 0.2rem;
        background-color: color(pink);
      }

      p {
        @include textStyles();
        font-size: size(sm);
      }

      span {
        color: color(pink);
        font-size: size(xs);
      }

      li {
        @include textStyles();
        font-size: size(xs);
        color: color(pink);
      }
    }
  }
}
