.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  width: 100%;
  top: 0;
  overflow-x: hidden;
  z-index: 100;
  background-color: color(white);

  &-logo {
    img {
      width: 15rem;
    }
  }

  &-links {
    @include response(xl) {
      display: none;
    }
    a {
      font-size: size(sm);
      color: color(black);

      &:hover {
        color: color(pink);
      }
    }
  }

  .current {
    border-bottom: 0.1rem solid color(pink);
    color: color(pink);
  }
}
