.btn {
  @include textStyles();
  padding: 1rem 2rem;
  border: 0.1rem solid color(pink);
  transition: all 0.3s ease;
  font-size: size(sm);
}

.btn-primary {
  @extend .btn;
  background-color: color(pink);
  color: color(white) !important;

  &:hover {
    background-color: transparent;
    color: color(pink) !important;
  }
}

.btn-trans {
  @extend .btn;
  color: color(pink);

  &:hover {
    background-color: color(pink);
    color: color(white);
  }
}
